# Python cache files
__pycache__/
*.pyc

# Environment files
.env
.venv/
venv/

# Jupyter cache
.ipynb_checkpoints/

# OS / editor files
.DS_Store
.idea/

# Project data and generated outputs
data/
!data/.gitkeep
results/